* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: #0D262D;
  color: #fff;
  height: 100%;
}
  
  @font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
  }
  
  [wm-flappy] {
    position: relative;
    border: solid 1px rgb(43, 87, 92);
    height: 600px;
    width: 1000px;
    margin-bottom: 50px;
    background: linear-gradient(#49b6e9, #0a999e); 
    overflow: hidden;
  }

  .contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
  }
  
  .bird {
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
  }
  
  .pair-of-obstacles {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .obstacle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .obstacle .border {
    height: 30px;
    width: 130px;
    background: linear-gradient(90deg, #164b01, #549644); 
    border: solid 2px #333;
  }
  
  .obstacle .body {
    height: 140px;
    width: 110px;
    background: linear-gradient(90deg, #144102, #67b553); 
    border-left: solid 2px #333;
    border-right: solid 2px #333;
  }
  
  .progress {
    position: absolute;
    top: 10px;
    right: 15px;
    font-family: Pixel;
    font-size: 3em;
    z-index: 9999;
  }
  
  .finish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;
    font-family: Pixel;
    z-index: 99999;
    font-size: 4em;

    color: #fff;
  }

  .finish:hover {
    color: #ccc;
  }

  .finish-button {
    display: flex;
    justify-content: center;
    align-self: center;
    text-align: center;
    margin-top: 20%;
    z-index: 99999;
    border-radius: 5px;
    border: none;

    font-size: 1.5rem;
    font-family: Pixel;
  }

  .finish-button:active {
    background-color: #ccc;
  }

  